<section class="profile">
  <h1><%= @user.name %></h1>
  <% if user_signed_in? %>
    <% if current_user != @user %>
      <% if current_user.following?(@user) %>
        <%= render 'unfollow', user: @user %>
      <% else %>
        <%= render 'follow', user: @user %>
      <% end %>
    <% end %>
  <% end %>
</section>
<section class="gallery user-gallery">
  <% @user_posts = @user.posts %>
  <% if @user_posts.empty? %>
    <p>У пользователя нет постов</p>
  <% else %>
    <%= render 'posts' %>
  <% end %>
</section>
