<h2>Комментировать:</h2>
<%= form_with model: @post.comments.build, url: [@post, @post.comments.build] do |f| %>
  <div>
    <%= f.label "Напишите что-нибудь", class: "form__label" %>
    <%= f.text_field :text, class: "form__input form__input--large" %>
  </div>
  <%= f.submit "Отправить", class: "button" %>
<% end %>