<section class="gallery index-gallery">
  <div class="gallery__wrapper">
    <ul class="card__list">
      <% @posts.each do |post| %>
        <li class="card__item" style="-webkit-transform : rotate(<%= rand(-10..10) %>deg); z-index: <%= rand(1..2)%>;">
          <%= render "card", post: post %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
