<% if @posts.empty? %>
  <p class="info">Нечего показывать :(</p>
<% else %>
  <section class="gallery feed-gallery">
    <div class="gallery__wrapper">
      <ul class="card__list">
        <% @posts.each do |post| %>
          <li class="card__item" style="-webkit-transform : rotate(<%= rand(-10..10) %>deg); z-index: <%= rand(1..2)%>;">
            <%= render "card", post: post %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>