<div class="header-wrapper">
  <div class="main-menu-wrapper">
    <div class="main-menu__list">
      <div class="main-menu__item">
        <%= link_to "Главная", posts_path %>
      </div>
      <div class="main-menu__item">
        <%= link_to "Вход", new_user_session_path %>
      </div>
      <div class="main-menu__item">
        <%= link_to "Выход", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
</div>